{% extends 'ipams/base.html' %}
{% load crispy_forms_tags %}

{% block head %}
<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }

    .payment-portal-container {
        background-color: #ffffff;
        width: 80%;
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        border-radius: 4px;
    }

    .payment-portal-header {
        background-color: #8B0000; /* Dark red header background */
        color: #FFD700; /* Gold text */
        padding: 10px 20px;
        border-radius: 4px 4px 0 0;
        margin: -20px -20px 20px -20px;
    }

    .payment-portal-content {
        color: #333;
    }

    .payment-button {
        padding: 10px 15px;
        margin: 5px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: opacity 0.3s ease;
        font-weight: bold;
    }

    .instruction-button {
        background-color: #4CAF50; /* Green background */
        color: white;
    }

    .proceed-button {
        background-color: #2196F3; /* Blue background */
        color: white;
    }

    .instruction-button:hover, .proceed-button:hover {
        opacity: 0.7;
    }
</style>
    <title>Payment Portal</title>
{% endblock %}

{% block content %}
<div class="payment-portal-container">
    <div class="payment-portal-header">
        <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome to our Payment Portal!</h1>
    </div>
    <div class="payment-portal-content">
        <p>&nbsp;Select an option below:</p>
        <button class="payment-button instruction-button" onclick="window.open('https://cituweb.pinnacle.com.ph/aims/students/paymentsInstruction.php', '_blank')">Payment Instruction</button>
        <button class="payment-button proceed-button" onclick="redirectToDragonpay()">Proceed to Payment</button>
    </div>
</div>

<script>
    function redirectToDragonpay() {
        // Replace 'https://your-dragonpay-payment-url.com' with the actual Dragonpay payment URL
        window.location.href = 'https://test.dragonpay.ph/Pay.aspx?merchantid=test_merchant_id&txnid=test_transaction_id&amount=100.00&ccy=PHP';

    }
</script>
{% endblock %}
