{% extends 'ipams/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
 
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    /* Styles for Rectangle 128 */
    .rectangle-long1 {
        position: absolute;
        width: 230px;
        height: 500px;
        left: 280px; /* Adjust this value for the initial horizontal position */
        top: 235px;
        background: #CD7F32;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 45px;
        margin-left: 30px;
    }
    .rectangle-long1:hover{
        background-color: #04AA6D;
         color: white;
    }
    .rectangle-long2 {
        position: absolute;
        width: 230px;
        height: 500px;
        left: calc(280px + 230px + 20px); /* Width of previous rectangle + horizontal spacing */
        top: 235px;
        background: rgb(221, 221, 221);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 45px;
        margin-left: 30px;
    }
    .rectangle-long2:hover{
        background-color: #04AA6D;
         color: white;
    }
    .rectangle-long3 {
        position: absolute;
        width: 230px;
        height: 500px;
        left: calc(280px + (230px + 20px) * 2); /* Width of previous rectangles + horizontal spacing */
        top: 235px;
        background: gold;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 45px;
        margin-left: 30px;
    }
    .rectangle-long3:hover{
        background-color: #04AA6D;
         color: white;
    }
    .rectangle-long4 {
        position: absolute;
        width: 230px;
        height: 500px;
        left: calc(280px + (230px + 20px) * 3); /* Width of previous rectangles + horizontal spacing */
        top: 235px;
        background: #45ACA5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 45px;
        margin-left: 30px;
    }
    .rectangle-long4:hover{
        background-color: #04AA6D;
         color: white;
    }
    .rectangle-long5 {
        position: absolute;
        width: 230px;
        height: 500px;
        left: calc(280px + (230px + 20px) * 4); /* Width of previous rectangles + horizontal spacing */
        top: 235px;
        background: rgb(72, 72, 72);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 45px;
        margin-left: 30px;
    }
    .rectangle-long5:hover{
        background-color: #04AA6D;
         color: white;
    }
    .bronze{
        font-size: 25px;
        font-weight: bold;
        padding-top: 20px;
        padding-left: 10px;
        img {height: 13%; padding-left: 40px;}
    }
    .dia{
        font-size: 25px;
        font-weight: bold;
        padding-top: 20px;
        padding-left: 10px;
        img {height: 13%; padding-left: 17px;}
    }
    .neth{
        font-size: 25px;
        font-weight: bold;
        padding-top: 20px;
        padding-left: 10px;
        img {height: 13%; padding-left: 17px;}
    }
  .hh{
 font-size: small;
 padding-left: 10px;
  }
   .free{
    text-align: justify;
    padding-top: 15px;
    font-size: 50px;
    font-weight: bold;
    padding-left: 6px;
   }
   .whats{
    text-align: justify;
    padding-top: 50px;
    font-weight: bold;
    padding-left: 8px;
   }
   .offer{
    text-align: justify;
    padding-top: 15px;
    font-size: x-small;
    padding-left: 8px;
    padding-right: 10px;
   }
   .fa-gem{
    

   }
   .ss{
    h1 {text-align: center;}
    p {text-align: center;}
   }
</style>
 
 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscription Page</title>
 
{% endblock %}
 
{% block content %}
    <div class="ss">
        <h1>Welcome to Our Subscription Page!</h1>
        <p>Subscribe to our service to get access to exclusive content and updates.</p>
    </div>
   <div class="gap">

   </div>
    <container>
 <div class="tunga">
    <div class="rectangle-long1">
        <div class="bronze">Bronze <img src="https://wiki.techreborn.ovh/lib/exe/fetch.php?w=200&tok=4e9c7c&media=mods:techreborn:bronze_dust.png"></div>
        <div class="hh"> Lifetime </div>
        <div class="free"> Free </div>
        <div class="whats"> What's <br> included:</div>
        <div class="offer"> <i class="fa-solid fa-check"></i> Offers complimentary <br> access to users </div>
        <div class="offer"> <i class="fa-solid fa-check"></i> Provide view access to all <br> finished records within the <br> system  </div>
    </div>
    <div class="rectangle-long2">
        <div class="bronze"> Iron <img src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/1/19/Iron_Ore_JE6_BE4.png/revision/latest?cb=20210326000111"></div>
        <div class="hh"> Per Semester/ 6 Months </div>
        <div class="free"> ₱49 </div>
        <div class="whats"> What's <br> included:</div>
        <div class="offer"> <i class="fa-solid fa-check"></i> Users at this tier enjoy <br>enhanced features for a <br> reasonable fee </div>
        <div class="offer"> <i class="fa-solid fa-check"></i> Provide view access to all <br> finished records within the <br> system  </div>
    </div>
    <div class="rectangle-long3">
        <div class="bronze"> Gold <img src="https://minecraft.wiki/images/Block_of_Gold_JE6_BE3.png?09478"></div>
        <div class="hh"> Per Semester/ 6 Months </div>
        <div class="free"> ₱99 </div>
        <div class="whats"> What's <br> included:</div>
        <div class="offer"> <i class="fa-solid fa-check"></i> Builds upon the Iron Tier <br> with additional privileges </div>
        <div class="offer"> <i class="fa-solid fa-check"></i> User all-access to finished <br>and in-progress records, <br>ability to request downloads <br>for both types of records,<br> access to AI chatbot  </div>
        <div class="offer"> <i class="fa-solid fa-check"></i> Record summarization tool,<br> AI citing generator, and <br>more advanced tools </div>
    </div>
    <div class="rectangle-long4">
        <div class="dia"> Diamond <img src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/a/ab/Diamond_JE3_BE3.png/revision/latest/thumbnail/width/360/height/360?cb=20230924193138"></div>
        <div class="hh"> Per Semester/ 6 Months </div>
        <div class="free"> ₱199 </div>
        <div class="whats"> What's <br> included:</div>
        <div class="offer"> <i class="fa-solid fa-check"></i> Comprehensive subscription with <br>extensive access and functionality </div>
        <div class="offer"> <i class="fa-solid fa-check"></i>User all-access to finished, in-progress, pending and denied records, instant downloads for these records, and access the AI chatbot  </div>
        <div class="offer"> <i class="fa-solid fa-check"></i> Includes advanced features like the AI plagiarism checker </div>
    </div>
    <div class="rectangle-long5">
        <div class="neth"> Netherite <img src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/3/31/Block_of_Netherite_JE1_BE1.png/revision/latest?cb=20200320021504"></div>
        <div class="hh"> Admin & Adviser only Per Semester / 6 Months </div>
        <div class="free"> ₱249 </div>
        <div class="whats"> What's <br> included:</div>
        <div class="offer"> <i class="fa-solid fa-check"></i> Exclusive tier designed for <br>administrators and advisers </div>
        <div class="offer"> <i class="fa-solid fa-check"></i> Provides view access to all records, <br>the ability to request downloads for <br>all records, and full access to all AI features.  </div>
        <div class="offer"> <i class="fa-solid fa-check"></i> Advanced administrative tools file management, admin dashboard, record evaluation, upload requests, import records, audit logs, user action logs, and record download requests </div>
    </div>
</div>
    </container>
    <!-- Link to your CSS file -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/subscription.css' %}">
{% endblock %}
 